<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="URL" value="Aryaved.com"/>
  <test thread-count="5" name="Testing Tools">

   <parameter name="APIKey" value="key/123456"/>
    <classes>
      <class name="TestNGStart.Day1Test">
      
      </class>
      <class name="TestNGStart.Day3Test"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="LoanTypes">
 
    <classes>
      <class name="TestNGStart.Day2Test"/>

      <class name="TestNGStart.Day4Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
